<table id="post">
  <tr>
    <td>
      <%= link_to 'Title', "#", id: 'new_title', class: "myeditable editable editable-click editable-empty", data: { "original-title"=>"Enter title", name: 'title', type:"text", resource: "posts"} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Description', "#", id: 'new_decription', class: "myeditable editable editable-click editable-empty", data: { "original-title"=>"Enter description", name: 'description', type:"textarea"} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'First', "#", id: 'new_firstName', class: "myeditable editable editable-click editable-empty", data: { "original-title"=>"Enter firstName", name: 'firstName', type:"text"} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Last', "#", id: 'new_lastName', class: "myeditable editable editable-click editable-empty", data: { "original-title"=>"Enter lastName", name: 'lastName', type:"text"} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to '15-05-1984', "#", id: 'new_birthday', class: "myeditable editable editable-click editable-empty", data: { "original-title"=>"Enter birthday", name: 'birthday', type:"combodate", viewformat: "MM-DD-YYYY", format: "YYYY/MM/DD", value: "1984-05-15", template: 'D - MMM - YYYY' } %>
    </td>
  </tr>

</table>

<button class="btn btn-primary" id="save-btn" type="button">Save new user!</button>

